In [30]:
import pandas as pd 

path = 'UpdatedResumeDataSet.csv'
df = pd.read_csv(path)
df.head()

       Category                                             Resume
0  Data Science  Skills * Programming Languages: Python (pandas...
1  Data Science  Education Details \r\nMay 2013 to May 2017 B.E...
2  Data Science  Areas of Interest Deep Learning, Control Syste...
3  Data Science  Skills â¢ R â¢ Python â¢ SAP HANA â¢ Table...
4  Data Science  Education Details \r\n MCA   YMCAUST,  Faridab...

In [7]:
jobs = df['Category'].unique()
print(jobs)

['Data Science' 'HR' 'Advocate' 'Arts' 'Web Designing'
 'Mechanical Engineer' 'Sales' 'Health and fitness' 'Civil Engineer'
 'Java Developer' 'Business Analyst' 'SAP Developer' 'Automation Testing'
 'Electrical Engineering' 'Operations Manager' 'Python Developer'
 'DevOps Engineer' 'Network Security Engineer' 'PMO' 'Database' 'Hadoop'
 'ETL Developer' 'DotNet Developer' 'Blockchain' 'Testing']

In [12]:
comptage_par_categorie = df['Category'].value_counts()
print(comptage_par_categorie)

Category
Java Developer               84
Testing                      70
DevOps Engineer              55
Python Developer             48
Web Designing                45
HR                           44
Hadoop                       42
Blockchain                   40
ETL Developer                40
Operations Manager           40
Data Science                 40
Sales                        40
Mechanical Engineer          40
Arts                         36
Database                     33
Electrical Engineering       30
Health and fitness           30
PMO                          30
Business Analyst             28
DotNet Developer             28
Automation Testing           26
Network Security Engineer    25
SAP Developer                24
Civil Engineer               24
Advocate                     20
Name: count, dtype: int64

In [10]:
df.isna().sum()

Category    0
Resume      0
dtype: int64

In [18]:
cvs = df.groupby('Category').first()
print(len(cvs), len(jobs))

25 25

In [32]:
cv = cvs.iloc[3]
pd.set_option('display.expand_frame_repr', False)
print(cv.head())
mots = premiers_cv_par_categorie[colonne_cv].str.split()

Resume    Hobbies â¢ Playing Chess â¢ Solving Rubik's ...
Name: Blockchain, dtype: object