In [1]:
import pandas as pd

In [2]:
path = '../data/UpdatedResumeDataSet.csv'
df = pd.read_csv(path)
df.head()

       Category                                             Resume
0  Data Science  Skills * Programming Languages: Python (pandas...
1  Data Science  Education Details \r\nMay 2013 to May 2017 B.E...
2  Data Science  Areas of Interest Deep Learning, Control Syste...
3  Data Science  Skills â¢ R â¢ Python â¢ SAP HANA â¢ Table...
4  Data Science  Education Details \r\n MCA   YMCAUST,  Faridab...

In [4]:
jobs = df['Category'].unique()

In [5]:
comptage_par_categorie = df['Category'].value_counts()
print(comptage_par_categorie)

Java Developer               84
Testing                      70
DevOps Engineer              55
Python Developer             48
Web Designing                45
HR                           44
Hadoop                       42
Blockchain                   40
ETL Developer                40
Operations Manager           40
Data Science                 40
Sales                        40
Mechanical Engineer          40
Arts                         36
Database                     33
Electrical Engineering       30
Health and fitness           30
PMO                          30
Business Analyst             28
DotNet Developer             28
Automation Testing           26
Network Security Engineer    25
SAP Developer                24
Civil Engineer               24
Advocate                     20
Name: Category, dtype: int64

In [6]:

df.isna().sum()

Category    0
Resume      0
dtype: int64

In [7]:
cvs = df.groupby('Category').first()
print(len(cvs), len(jobs))

25 25

In [8]:
cv = cvs.iloc[3]
pd.set_option('display.expand_frame_repr', False)
print(cv.head())

Resume    Hobbies â¢ Playing Chess â¢ Solving Rubik's ...
Name: Blockchain, dtype: object

In [12]:
# Choose a specific category (for example, the fourth one)
selected_category = cvs.iloc[3]

# Disable frame display expansion for better readability
pd.set_option('display.expand_frame_repr', False)

# Display the selected category's first resume
print(selected_category.head())

Resume    Hobbies â¢ Playing Chess â¢ Solving Rubik's ...
Name: Blockchain, dtype: object

In [14]:
# Split the words in the selected category's resume
words = str(selected_category['Resume']).split()

In [15]:
# Save the cleaned dataset to a CSV file
cleaned_path = '../data/cleaned_resume_dataset.csv'
df.to_csv(cleaned_path, index=False)
print(f"Cleaned dataset saved to {cleaned_path}")

Cleaned dataset saved to ../data/cleaned_resume_dataset.csv